.bodies{
    font-family: General Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

@keyframes object {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10%);
    }
}



.company-profile {
    animation: object 5s linear infinite;
}